<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <title>My To Do List</title>
  </head>
  <body>
    <h2>To Do List</h2>
    <input type="text" id="taskIn" name="taskIn" value="" placeholder="enter task"/>
    <button type="button" id="addButton" name="addButton">Add Task</button>
    <h4>Current Tasks:</h4>
    <div class="squaredTwo">
        <input type="checkbox" value="none" id="squaredTwo" name="check"/>
        <label for="squaredTwo"></label>
      </div>
    <div id="outputDiv"></div>
  </body>
</html>
