body {
	font-family: 'Raleway', sans-serif;
	margin: 0 0 0 30px;
}
h2 {
	font-size: 1.5em;
	color: #4f6c96;
	padding: 10px 0 5px 0;
}

h4 {
	font-size: 1.25em;
	color: #4f6c96;
}

p {
	margin: -20px 0 10px 80px;
}

.delete {
	color: #972936;
	background-color: #faebed;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 1em;
	margin-left: 10px;
	margin-top: -10px;
	padding: 0 1px 3px 1px;
	cursor: pointer;
}

.delete:hover {
    background-color: #972936;
    color: white;
		cursor: pointer;
}

.complete {
	color: #4f6c96;
	background-color: #bcc9dc;
	width: 25px;
	height: 25px;
	font-size: 1.2em;
	text-align: center;
	margin: 0 0 0 15px;
	padding: 0  2px 2px 2px;
	cursor: pointer;
}

 .done {
	 color: #999999;
	 background-color: #e6e6e6;
 }

.doneTask {
	color: #999999;
}

#taskIn {
	font-size:1.25em;
	width: 400px;
}

#addButton {
	color: #4f6c96;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	background-color: #bcc9dc;
	transition-duration: 0.4s;
}

#addButton:hover, .complete:hover {
    background-color: #4f6c96;
    color: white;
		cursor: pointer;
}
.done[disabled]:hover {
	color: #999999;
	background-color: #e6e6e6;
	cursor: none;
}
